@model EStore.Entities.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{

<table>
    <tr>
        <td>Name</td>
        <td>@Html.TextBoxFor(x => x.Name)</td>
    </tr>

    <tr>
        <td>Description</td>
        <td>@Html.TextBoxFor(x => x.Description)</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Html.TextBoxFor(x => x.Price)</td>
    </tr>


    <tr>
        <td></td>
        <td><input type="submit" value="Save" /></td>
    </tr>
</table>

}
